.card-img{
    position: relative;
    overflow: hidden;
}
.add-cart{
    position: absolute;
    right: -70px;
    bottom: -50px;
    transition: all 1s;
}
.card-img:hover .add-cart{
    cursor: pointer;
    right: 0;
    bottom: 0;
}
.card-img img{
    transition: all 1s;
}
.card-img:hover img{
    transform: scale(1.1);
}